<p><%= @title %></p>
<p><%= @content %></p>
<form action="/memos/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除">
</form>
<a href="/memos">メモ一覧に戻る</a>
